In [1]:
import numpy as np
import pandas as pd
from plotting import load_figure_data, make_figure

In [2]:
f1_wbc_rtkm, f1_wbc_kmor, f1_wbc_neo, me_wbc_rtkm, me_wbc_kmor, me_wbc_neo = load_figure_data('wbc')[0:6]
f1_shuttle_rtkm, f1_shuttle_kmor, f1_shuttle_neo, me_shuttle_rtkm, me_shuttle_kmor, me_shuttle_neo = load_figure_data('shuttle')[0:6]

f1_yeastout_rtkm, f1_yeastout_kmor, f1_yeastout_neo, me_yeastout_rtkm, me_yeastout_kmor, me_yeastout_neo = load_figure_data('yeast_noise')[0:6]
f1_yeast_normal_rtkm, f1_yeast_normal_kmor, f1_yeast_normal_neo, me_yeast_normal_rtkm, me_yeast_normal_kmor, me_yeast_normal_neo = load_figure_data('yeast_gaussian_noise')[0:6]

f1_sceneout_rtkm, f1_sceneout_kmor, f1_sceneout_neo, me_sceneout_rtkm, me_sceneout_kmor, me_sceneout_neo = load_figure_data('scene_noise')[0:6]
f1_sceneout_normal_rtkm, f1_sceneout_normal_kmor, f1_sceneout_normal_neo, me_sceneout_normal_rtkm, me_sceneout_normal_kmor, me_sceneout_normal_neo = load_figure_data('scene_gaussian_noise')[0:6]

f1_emotions_rtkm, f1_emotions_kmor, f1_emotions_neo, me_emotions_rtkm, me_emotions_kmor, me_emotions_neo = load_figure_data('emotions_noise')[0:6]
f1_emotions_normal_rtkm, f1_emotions_normal_kmor, f1_emotions_normal_neo, me_emotions_normal_rtkm, me_emotions_normal_kmor, me_emotions_normal_neo = load_figure_data('emotions_gaussian_noise')[0:6]

In [84]:
rtkm_f1_data = [np.average(f1_wbc_rtkm), np.average(f1_shuttle_rtkm), np.average(f1_yeastout_rtkm),
                np.average(f1_sceneout_rtkm), np.average(f1_emotions_rtkm), 
                np.average(f1_sceneout_normal_rtkm), np.average(f1_yeast_normal_rtkm), np.average(f1_emotions_normal_rtkm),
                .325, .598, .399]

kmor_f1_data = [np.average(f1_wbc_kmor), np.average(f1_shuttle_kmor), np.average(f1_yeastout_kmor), 
                np.average(f1_sceneout_kmor),  np.average(f1_emotions_kmor), 
                np.average(f1_sceneout_normal_kmor), np.average(f1_yeast_normal_kmor), np.average(f1_emotions_normal_kmor),
                .161, .598, .311]

neo_f1_data = [np.average(f1_wbc_neo), np.average(f1_shuttle_neo), np.average(f1_yeastout_neo), 
               np.average(f1_sceneout_neo), np.average(f1_emotions_neo), 
               np.average(f1_sceneout_normal_neo), np.average(f1_yeast_normal_neo), np.average(f1_emotions_normal_neo),  
               .366, .626, .373]


rtkm_me_data = [np.average(me_wbc_rtkm), np.average(me_shuttle_rtkm), np.average(me_yeastout_rtkm), 
                np.average(me_sceneout_rtkm), np.average(me_emotions_rtkm), 
               np.average(me_sceneout_normal_rtkm), np.average(me_yeast_normal_rtkm), np.average(me_emotions_normal_rtkm)]

kmor_me_data = [np.average(me_wbc_kmor), np.average(me_shuttle_kmor), np.average(me_yeastout_kmor), 
                np.average(me_sceneout_kmor), np.average(me_emotions_kmor),
               np.average(me_sceneout_normal_kmor), np.average(me_yeast_normal_kmor),np.average(me_emotions_normal_kmor)]

neo_me_data = [np.average(me_wbc_neo), np.average(me_shuttle_neo), np.average(me_yeastout_neo), 
               np.average(me_sceneout_neo),np.average(me_emotions_neo), 
              np.average(me_sceneout_normal_neo), np.average(me_yeast_normal_neo),  np.average(me_emotions_normal_neo), ]


f1_table_data = {'rtkm': rtkm_f1_data, 'kmor': kmor_f1_data, 'neo': neo_f1_data}
me_table_data = {'rtkm': rtkm_me_data, 'kmor': kmor_me_data, 'neo': neo_me_data}

f1 = pd.DataFrame(f1_table_data, index=['wbc', 'shuttle', 'yeast out', 'scene out',
                                       'emotions out', 'scene normal', 'yeast normal', 'emotions_normal', 
                                        'scene', 'yeast', 'emotions'])
me = pd.DataFrame(me_table_data, index=['wbc', 'shuttle', 'yeast out', 'scene out',
                                       'emotions', 'scene normal', 'yeast normal', 'emotions_normal'])

In [85]:
me = me.round(2)
me

                 rtkm  kmor   neo
wbc              0.14  0.14  1.00
shuttle          0.51  0.75  0.53
yeast out        0.58  0.94  0.99
scene out        0.33  0.33  0.38
emotions         0.87  0.97  0.98
scene normal     0.25  0.25  0.25
yeast normal     0.32  0.32  0.32
emotions_normal  0.51  0.55  0.59

In [86]:
me_ranked = me.rank(axis = 1)
me_ranked

                 rtkm  kmor  neo
wbc               1.5   1.5  3.0
shuttle           1.0   3.0  2.0
yeast out         1.0   2.0  3.0
scene out         1.5   1.5  3.0
emotions          1.0   2.0  3.0
scene normal      2.0   2.0  2.0
yeast normal      2.0   2.0  2.0
emotions_normal   1.0   2.0  3.0

In [87]:
me_mat = me_ranked.to_numpy()
n = me_mat.shape[0]
print(n)
r_bar = np.sum(me_mat, axis = 0)/n
print(r_bar)

inner_sum = np.sum((r_bar - 2)**2)
    
Q_stat = n * inner_sum

print(Q_stat)

8
[1.375 2.    2.625]
6.25

In [88]:
# Nemenyi statistic 
CD = np.sqrt(12/(8*6))*2.343/np.sqrt(2)
print(CD<=(r_bar[2]-r_bar[0]), CD<=(r_bar[2]-r_bar[1]), \
      CD<=(r_bar[1]-r_bar[0]) )

True False False

In [89]:
import scikit_posthocs as sp

data = np.array([me_ranked['rtkm'], me_ranked['kmor'], me_ranked['neo']])

#perform Nemenyi post-hoc test
sp.posthoc_nemenyi_friedman(data.T)

          0         1         2
0  1.000000  0.425577  0.033252
1  0.425577  1.000000  0.425577
2  0.033252  0.425577  1.000000

In [90]:
f1 = f1.round(2)
f1

                 rtkm  kmor   neo
wbc              0.93  0.93  0.40
shuttle          0.67  0.71  0.64
yeast out        0.32  0.15  0.28
scene out        0.53  0.53  0.42
emotions out     0.33  0.24  0.31
scene normal     0.54  0.54  0.43
yeast normal     0.34  0.19  0.33
emotions_normal  0.34  0.27  0.32
scene            0.32  0.16  0.37
yeast            0.60  0.60  0.63
emotions         0.40  0.31  0.37

In [91]:
f1_ranked = f1.rank(axis = 1, ascending=False)
f1_ranked

                 rtkm  kmor  neo
wbc               1.5   1.5  3.0
shuttle           2.0   1.0  3.0
yeast out         1.0   3.0  2.0
scene out         1.5   1.5  3.0
emotions out      1.0   3.0  2.0
scene normal      1.5   1.5  3.0
yeast normal      1.0   3.0  2.0
emotions_normal   1.0   3.0  2.0
scene             2.0   3.0  1.0
yeast             2.5   2.5  1.0
emotions          1.0   3.0  2.0

In [92]:
f1_mat = f1_ranked.to_numpy()
n = f1_mat.shape[0]
print(n)
r_bar = np.sum(f1_mat, axis = 0)/n
print(r_bar)
k = 3

inner_sum = np.sum((r_bar - 2)**2)
    
Q_stat = n * inner_sum

print(Q_stat)

11
[1.45454545 2.36363636 2.18181818]
5.090909090909091